include requirements.txt
include README.md
include LICENSE.txt
recursive-include django_evercookie/templates *
recursive-include django_evercookie/templatetags *
recursive-include django_evercookie/static *
